@font-face {
  font-family: 'Saira';
  src: url('../../../fonts/Saira/Saira-VariableFont_wdth,wght.ttf') format('truetype');
  font-weight: 100 900; // rangos posibles
  font-stretch: 75% 125%; // si quieres controlar ancho
  font-style: normal;
}

@font-face {
  font-family: 'Saira';
  src: url('../../../fonts/Saira/Saira-Italic-VariableFont_wdth,wght.ttf') format('truetype');
  font-weight: 100 900; // rango de pesos
  font-style: italic;
}

@font-face {
  font-family: 'SairaSemiCondensed';
  src: url('../../../fonts/Saira_Semi_Condensed/SairaSemiCondensed-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'SairaSemiCondensed';
  src: url('../../../fonts/Saira_Semi_Condensed/SairaSemiCondensed-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'SairaSemiCondensed';
  src: url('../../../fonts/Saira_Semi_Condensed/SairaSemiCondensed-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: 'SairaSemiCondensed';
  src: url('../../../fonts/Saira_Semi_Condensed/SairaSemiCondensed-ExtraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: 'SairaSemiCondensed';
  src: url('../../../fonts/Saira_Semi_Condensed/SairaSemiCondensed-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'SairaSemiCondensed';
  src: url('../../../fonts/Saira_Semi_Condensed/SairaSemiCondensed-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'SairaSemiCondensed';
  src: url('../../../fonts/Saira_Semi_Condensed/SairaSemiCondensed-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'SairaSemiCondensed';
  src: url('../../../fonts/Saira_Semi_Condensed/SairaSemiCondensed-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'SairaSemiCondensed';
  src: url('../../../fonts/Saira_Semi_Condensed/SairaSemiCondensed-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Digital7";
  src: url("../../../fonts/digital-7/digital-7.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Digital7";
  src: url("../../../fonts/digital-7/digital-7_italic.ttf") format("truetype");
  font-style: italic;
  font-weight: normal;
}

@font-face {
  font-family: "Digital7 Mono";
  src: url("../../../fonts/digital-7/digital-7_mono.ttf") format("truetype");
  font-style: normal;
  font-weight: bold; /* o lo que corresponda */
}

@font-face {
  font-family: "Digital7 Mono";
  src: url("../../../fonts/digital-7/digital-7_mono_italic.ttf") format("truetype");
  font-style: italic;
  font-weight: bold;
}
