$bp-tablet: 768px;
$bp-tablet-horizontal: 1024px;
$bp-desktop: 1200px;
$bp-desktop-xl: 1440px;

$digital7-font: 'Digital7';
$digital7Mono-font: 'Digital7 Mono';

// Colores
$blue: #01475e;
$blue-light: #EAEEEF;
$grey-dark: #aaaaaa;
$grey: #b1b1b1;
$grey2: #c1c1c1;
$grey-light: #d1d1d1;
$grey-superlight: #e1e1e1;
$white: #fafafa;
