@use '../abstracts/variables' as vars;

.window {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,.6);
    display: none;
    opacity: 1;
    transition: opacity 0.5s ease;

    .prompt-box {
        position: absolute;
        width: 400px;
        height: 300px;
        left: calc(50vw - 400px / 2);
        top: calc(40vh - 300px / 2);
        padding: 30px;
        border-radius: 10px;
        background-color: white;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        h2 {
            flex: 2;
            font-size: 28px;
            font-weight: 600;
            color: vars.$blue;
        }

        p {
            flex: 2;
            font-size: 20px;
        }
    }
}